*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: #255ee9;
    justify-content: space-around;
    padding: 2%;
}
a{
    text-decoration: none;
    color: white;
    padding: 2%;
}
header>main{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}
.display-container{
    display: flex;
}
.center{
    justify-content: center;
}
.flex-end{
    justify-content: flex-end;
}
.wht-button{
    background-color: #ffffff;
    border: none;
    border-radius: 1rem;
    padding: 1%;
}
.display-container.column{
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 4%;
}
