*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    background-color: #255ee9;
    justify-content: space-around;
    padding: 3%;
}
a{
    text-decoration: none;
    color: white;
    padding: 2%;
}
header>main{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    padding: 4%;
}
body>main{
    width: 70%;
    margin: 0 auto;
}
section{
    padding: 4%;
}

/* display  */
.display-container{
    display: flex;
    align-items: center;
}
.display-container.column{
    flex-direction: column;
    color: white;
}
.center{
    justify-content: center;
}
.flex-end{
    justify-content: flex-end;
}
/* display  */
/* tasti  */
button{
    border: none;
    border-radius: 1rem;
    padding: 1%;
}
.wht-button{
    background-color: #ffffff;
}
.blk-button{
    background-color: black;
    color: #ffffff;
}
/* tasti  */

